.header {
    height: 93.41px;
    box-shadow: 0px 5.33778px 26.6889px rgba(6, 6, 16, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .main-menu input {
    border: 0.667222px solid rgba(6, 6, 16, 0.1);
    border-radius: 2.66889px;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-right: 10px;
    border: 0.667222px solid rgba(6, 6, 16, 0.1);
    border-radius: 3px;
}

.header .main-menu a {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #060610;
    margin: 0 20px;
}
.header .main-menu a:hover{
    color: #767676;
}

.notification{
    color: #B5B5B8;
    font-size: 28px;
}
.user-ing img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.nav-right .mail-area p{
    color: #060610;
}
 .nav-right .mail-area p, small{
  margin-left: 10px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    display: block;
 }