.main-body {
    background: #E5E5E5;
}

.row .left-side {
    background: #FFF;
    width: 243px;
    height: 1201px;
}

.row .left-side ul {
    margin-top: 50px;
}

.row .left-side ul li {
    list-style: none;
    margin: 30px 0 30px 30px;

}

.row .left-side ul li a {

    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    color: #B5B5B8;
}

.row .left-side ul li a:hover {
    color: #2E4452;
}

.row .left-side .promo img {
    width: 200.14px;
    height: 96px;
    margin: 0 15px;
}